*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: auto;
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: auto;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav-item{
    width: 50%;
    align-items: center;
}

.title{
    flex-basis: 90%;
}

.items{
    display: flex;
}

ul li{
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 5%;
    line-height: 100px;
}

ul li:hover{
    color: #1ab07d;
    cursor: pointer;
}

.navbar-title{
    color: white;
    font-family: sans-serif;
    font-size: 28px;
    padding: 2% 12%;
    cursor: pointer;
}

.container{
    width: 100%;
    height: auto;
    background-color: #1abc9c;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container-image{
    padding-top: 15%;
    width: 30%;
    height: 50%;
}

.container-title{
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    padding-top: 4%;
}

.container-icon{
    color: white;
    padding-top: 1%;
    font-size: 40px;
}

.container-text{
    padding-top: 2%;
    padding-bottom: 6%;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}

.portfolio{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title{
    padding-top: 25%;
    color: #2c3e50;
    font-size: 50px;
    font-family: sans-serif;
}

.portfolio-icon{
    color: #2c3e50;
    font-size: 40px;
    text-align: center;
    padding-top: 7%;
}

.pictures{
    display: flex;
    width: 100%;
    justify-content: center;
}

.pictures-item{
    padding: 2% 1% 6% 1%;
    width: 28%;
}

.about{
    width: 100%;
    height: auto;
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title{
    padding-top: 50%;
    font-size: 50px;
    color: white;
    font-family: sans-serif;
}

.about-icon{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 7%;
}

.text{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.about-text{
    width: 29%;
    padding: 0 1%;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-family: sans-serif;
}

.about-button{
    margin-top: 18%;
    padding: 20px 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 30%;
    cursor: pointer;
}

.about-button:hover{
    background-color: white;
    color: black;
}

.contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title{
    padding-top: 25%;
    font-size: 50px;
    color: #2c3e50;
    font-family: sans-serif;       
}

.contact-icon{
    text-align: center;
    font-size: 40px;
    color: #2c3e50;
    padding-top: 7%;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 10%;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 30px 240px;
    font-size: 25px;
    color: #6c757d 
}

.input:focus{
    border: none;
    border-bottom: 1px solid lightgrey;
}

::placeholder{
    color: #6c757d;
    font-size: 25px;
}

.contact-button{
    margin: 10% 0 10% 0;
    padding: 20px 30px;
    color: white;
    font-size: 25px;
    background-color: #1abc9c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrong-message{
    display: none;
    width: 50%;
    height: auto;
    background-color: red;
    margin-top: 3%;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 10px;
    text-align: center;
}

.wrong-message p{
    padding: 2% 0;
}

.info{
    width: 100%;
    height: auto;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.info-item{
    width: 28%;
    margin-bottom: 5%;
}

.info-title{
    margin-top: 20%;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.info-text{
    padding-top: 7%;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    line-height: 30px;    
}

.info-button{
    margin-top: 5%;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 60px;
}

.info-button:hover{
    background-color: white;
    color: black;
}

a{
    color: #1abc9c;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #1a252f;
    text-align: center;
}

.footer-text{
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    padding: 2%;
}

.message-table{
    margin: 2% 0 0 35%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    outline: none;
    border: none;
    border-collapse: collapse;
    display: none;
}

.get-button{
    margin: 4%;
    padding: 14px 20px;
    color: white;
    background-color: #2c3e50;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
}

.get-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}


@media (max-width: 1000px){

    .navbar-title{
        font-size: 18px;
    }

    ul li{
        padding: 0 3px;
        font-size: 15px;
    }

    .pictures{
        flex-direction: column;
        align-items: center;
    }

    .pictures-item{
        width: 80%;
    }
    
    .text{
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-basis: 20%;
    }

    .about-text{
        flex-direction: column;
        width: 80%;
        padding-top: 5%;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    .info-item{
        width: 80%;
    }

    .info-text{
        padding-top: 2%;
    }

    .input{
        padding: 30px 80px;
    }
}
